<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petshop.order.mapper.SystemConfigDeliveryTierMapper">

    <select id="selectByConfigId" resultType="com.petshop.order.entity.SystemConfigDeliveryTier">
        SELECT id, config_id, min_distance_km, max_distance_km, fee, sort,
               create_time, update_time
        FROM system_config_delivery_tier
        WHERE config_id = #{configId}
        ORDER BY sort ASC
    </select>

    <insert id="insertBatch">
        INSERT INTO system_config_delivery_tier (config_id, min_distance_km, max_distance_km, fee, sort)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.configId}, #{item.minDistanceKm}, #{item.maxDistanceKm}, #{item.fee}, #{item.sort})
        </foreach>
    </insert>

    <delete id="deleteByConfigId">
        DELETE FROM system_config_delivery_tier WHERE config_id = #{configId}
    </delete>

</mapper>
